[core]
	editor = \"$LOCALAPPDATA\\Programs\\Microsoft VS Code\\bin\\code\" --wait
	autocrlf = true
[user]
	email = shauntanzongzhi@gmail.com
	name = EvitanRelta
[rebase]
	autosquash = true
[alias]
    cum = "!~/.git-aliases/cum/script.sh"
    cumane = "!~/.git-aliases/cumane/script.sh"
    cane = "!~/.git-aliases/cane/script.sh"
    st = "!~/.git-aliases/st/script.sh"
    pop = "!~/.git-aliases/pop/script.sh"
    rebun = "!~/.git-aliases/rebun/script.sh"
    addn = "!~/.git-aliases/addn/script.sh"
    git = "!~/.git-aliases/git/script.sh"
    get-current-branch = rev-parse --abbrev-ref HEAD
    get-current-hash = rev-parse HEAD
    branch-exists = "!cd "${GIT_PREFIX:-.}"; f() { git show-ref --quiet \"refs/heads/$1\"; }; f"
    is-ancestor = merge-base --is-ancestor
    is-rebasing = "!f() { test -d .git/rebase-merge; }; f"
    is-merging = "!f() { test -e .git/MERGE_HEAD; }; f"
    is-cherry-picking = "!f() { test -e .git/CHERRY_PICK_HEAD; }; f"
    is-reverting = "!f() { test -e .git/REVERT_HEAD; }; f"
    has-unmerged = "!f() { git ls-files --unmerged | grep -q .; }; f"

    re = "!~/.git-aliases/re/script.sh"

    undoc = "!~/.git-aliases/undoc/script.sh"

    dump = "!~/.git-aliases/dump/script.sh"
    
    link = "!~/.git-aliases/link/script.sh"
    
    clone-nonempty = "!~/.git-aliases/clone-nonempty/script.sh"
    
    stash-unstaged = "!~/.git-aliases/stash-unstaged/script.sh"
    
    stash-staged = "!cd "${GIT_PREFIX:-.}"; f() {   \
        git stash-unstaged --quiet                  \
            && git stash -u \"$@\"                  \
            && git stash pop --quiet \"stash@{1}\"; \
    }; f"

    pull-all = "!~/.git-aliases/pull-all/script.sh"
    
    pull-force = "!cd "${GIT_PREFIX:-.}"; f() { \
        git fetch                               \
            && git reset --hard \"origin/$(git branch --show-current)\"; \
    }; f"

    merge-this = "!cd "${GIT_PREFIX:-.}"; f() { \
        branch=$(git get-current-branch)        \
            && git checkout master              \
            && git merge --no-ff \"$branch\"    \
            && git branch -D \"$branch\";       \
    }; f"
    
    branch-d-both = "!cd "${GIT_PREFIX:-.}"; f() {  \
        if [ $# -eq 1 ]; then                       \
            git branch -d \"$1\"                    \
                && git push -d origin \"$1\";       \
        else                                        \
            echo Invalid parameters;                \
        fi;                                         \
    }; f"

    get-deleted-branch = "!cd "${GIT_PREFIX:-.}"; f() {         \
        if [ $# -eq 1 ]; then                                   \
            commit_subject=$(git log --format=%s -n 1 \"$1\")   \
                && branch_name=$(grep -Po \"(?<=')[^']+(?=')\" <<< \"$commit_subject\" | head -1) \
                && git checkout -b \"$branch_name\" \"$1^2\"    \
                && git checkout -;                              \
        else                                                    \
            echo Invalid parameters;                            \
        fi;                                                     \
    }; f"

    unmerge = "!cd "${GIT_PREFIX:-.}"; f() {    \
        is_merge_commit="$(git rev-parse --verify \"HEAD^2\" 2> /dev/null)"; \
        if [ -n \"$is_merge_commit\" ]; then    \
            git get-deleted-branch HEAD         \
                && git undoc -f                 \
                && git checkout -;              \
        else                                    \
            echo HEAD is not a merge commit;    \
        fi;                                     \
    }; f"

    get-in-prog-cmd = "!cd "${GIT_PREFIX:-.}"; f() {\
        if git is-rebasing; then                    \
            echo rebase;                            \
        elif git is-merging; then                   \
            echo merge;                             \
        elif git is-cherry-picking; then            \
            echo cherry-pick;                       \
        elif git is-reverting; then                 \
            echo revert;                            \
        else                                        \
            >&2 echo \"Not currently rebasing, merging, cherry-picking nor revert\"; \
            exit 1;                                 \
        fi;                                         \
    }; f"

    con = "!cd "${GIT_PREFIX:-.}"; f() {            \
        in_prog_cmd=\"$(git get-in-prog-cmd)\"      \
            && echo \"Continuing $in_prog_cmd...\"  \
            && eval \"git $in_prog_cmd --continue\";\
    }; f"

    cone = "!cd "${GIT_PREFIX:-.}"; f() {           \
        in_prog_cmd=\"$(git get-in-prog-cmd)\"      \
            && echo \"Continuing $in_prog_cmd (no edit)...\"                \
            && eval \"git -c core.editor=true $in_prog_cmd --continue\";    \
    }; f"
    
    conea = "!cd "${GIT_PREFIX:-.}"; f() { git add -A && git cone; }; f"

    ab = "!cd "${GIT_PREFIX:-.}"; f() {             \
        in_prog_cmd=\"$(git get-in-prog-cmd)\"      \
            && echo \"Aborting $in_prog_cmd...\"    \
            && eval \"git $in_prog_cmd --abort\"    \
            || git has-unmerged                     \
            && echo \"...but has unmerged paths\"   \
            && echo \"Resetting unmerged paths...\" \
            && git reset --merge;                   \
    }; f"

    rebase-from = "!cd "${GIT_PREFIX:-.}"; f() {    \
        if [ $# -ne 2 ]; then                       \
            echo Invalid parameters;                \
            exit 1;                                 \
        fi;                                         \
        current_branch=$(git get-current-branch)   \
            && git re --onto \"$2\" \"$1~\" $current_branch; \
    }; f"
    
    replace-with = "!cd "${GIT_PREFIX:-.}"; f() {   \
        if [ $# -ne 1 ]; then                       \
            echo Invalid parameters;                \
        fi;                                         \
        git reset --hard \"$1\"                     \
            && git branch -D \"$1\";                \
    }; f"

    rebase-preserve = "!cd "${GIT_PREFIX:-.}"; f() {   \
        git -c rebase.instructionFormat='%s%nexec GIT_COMMITTER_DATE=\"%cD\" git commit --amend --no-edit' rebase $@; \
    }; f"
    
    spoof-dates = "!cd "${GIT_PREFIX:-.}"; f() {   \
        GIT_COMMITTER_DATE=\"$2\" git commit --date=\"$1\" --amend --no-edit; \
    }; f"
