[core]
	editor = \"$LOCALAPPDATA\\Programs\\Microsoft VS Code\\bin\\code\" --wait
[user]
	email = shauntanzongzhi@gmail.com
	name = EvitanRelta
[alias]
    cum = "!cd "${GIT_PREFIX:-.}"; f() { git add .; git commit \"$@\"; }; f"
    cumane = "!cd "${GIT_PREFIX:-.}"; f() { git add .; git commit --amend --no-edit; }; f"
    cane = "!cd "${GIT_PREFIX:-.}"; f() { git commit --amend --no-edit; }; f"
    dump = "!cd "${GIT_PREFIX:-.}"; f() { git restore .; git clean -df; }; f"
    undoc = "!cd "${GIT_PREFIX:-.}"; f() { git reset --soft HEAD^; }; f"
    stat = "!cd "${GIT_PREFIX:-.}"; f() { git status; }; f"
    pop = "!cd "${GIT_PREFIX:-.}"; f() { git stash pop; }; f"
    rebun = "!cd "${GIT_PREFIX:-.}"; f() { GIT_SEQUENCE_EDITOR=\"perl -0777 -i -pe 's/^pick/$1/'\" git rebase -i $2; }; f"
    
    link = "!cd "${GIT_PREFIX:-.}"; f() {           \
        if [ $# -eq 1 ] && [ $1 != "-f" ]; then     \
            git remote add origin $1;               \
            git remote set-url origin $1;           \
            git push -u origin master;              \
        elif [ $# -eq 2 ] && [ $1 == "-f" ]; then   \
            git remote add origin $2;               \
            git remote set-url origin $2;           \
            git push -uf origin master;             \
        else                                        \
            echo Invalid parameters;                \
        fi;                                         \
    }; f"
    
    clone-nonempty = "!cd "${GIT_PREFIX:-.}"; f() { \
        if [ $# -eq 2 ] && [ $1 != "-f" ]; then     \
            mkdir -p $2;                            \
            cd $2;                                  \
            git init;                               \
            git remote add origin $1;               \
            git fetch;                              \
            git checkout -t origin/master;          \
        # Force flag overwrites conflicting files   \
        elif [ $# -eq 3 ] && [ $1 == "-f" ]; then   \
            mkdir -p $3;                            \
            cd $3;                                  \
            git init;                               \
            git remote add origin $2;               \
            git fetch;                              \
            git checkout -tf origin/master;         \
        else                                        \
            echo Invalid parameters;                \
        fi;                                         \
    }; f"
    
    stash-staged = "!cd "${GIT_PREFIX:-.}"; f() {   \
        git commit -qm \"TEMP\";                    \
        git stash -qu;                              \
        git undoc;                                  \
        git stash \"$@\" -um \"staged changes\";    \
        git stash pop -q \"stash@{1}\";             \
    }; f"
    
    stash-unstaged = "!cd "${GIT_PREFIX:-.}"; f() { \
        git stash-staged -q;                        \
        git stash \"$@\" -um \"unstaged changes\";  \
        git stash pop -q \"stash@{1}\";             \
    }; f"