# Ignore everything
*

# Whitelist files
!.gitignore
!.gitconfig
!.bashrc
!.bash_profile
!README.md
!.git_aliases
!.git_aliases/**
!init.sh

# Vim-related files
!.vim/
!.vim/**
.vim/.netrwhist
!.vimrc
!nonessentials/
!nonessentials/*.vim

